[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
skip-character-set-client-handshake
max_allowed_packet=64M
# innodb_file_per_table
general_log=/tmp/mysql.log

innodb_file_format = Barracuda
innodb_file_per_table
innodb_large_prefix
innodb_buffer_pool_size=512M
#innodb_buffer_pool_size=2048M
#innodb_flush_log_at_trx_commit = 2

# FIXME temporary setting
table_open_cache = 250

sql-mode="TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY,NO_ENGINE_SUBSTITUTION"

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4
